# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS files
.DS_Store

# VS Code
.vscode/
